/*BTN ANIMATION*/

.menu-btn{
  animation: bounce 3s ease-in-out infinite;
  width: 5%;
}

@keyframes bounce {
  0%{
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

.modal-overlay{
  position: fixed;
  top:0;
  left: 0;
  background-color: lightblue;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  visibility: hidden;
  z-index: -1;
}

.show-modal{
  visibility: visible;
  z-index: 10;
}

.modal-container{
  background-color: lightcoral;
  color: white;
  width: 40vw;
  height: 15vh;
}


.sidebar{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  row-gap: 1rem;
  transform: translate(-100%);
  background-color: lightpink;
}

.show-sidebar{
  transform: translate(0);
}